<!DOCTYPE html>
<html>
<head>
	<title>{{ project }} app</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<script type="text/javascript">

    $(function() {
        $('#predict').click(function() {
            event.preventDefault();
            var form_data = new FormData($('#myform')[0]);
            console.log(form_data);
            $.ajax({
                type: 'POST',
                url: '/',
                data: form_data,
                contentType: false,
                processData: false,
            }).done(function(data, textStatus, jqXHR){
                $('#result').text(data);
            }).fail(function(data){
                alert('error!');
            });
        });
    }); 

</script>
<body>
	<h1>{{ project }}</h1>
	<form id="myform" method="POST">
		<input type="text" name="_x" style="width: 640px;" placeholder="Enter an input X (float)"><br>
	</form>
    <p>
        Example: <em>0.0</em>
    </p>
	<button id="predict">Predict target</button>
	<h2 id="result"></h2>
</body>
</html>

    <div align="center">
		<form>
			<select id="game" onChange="changeImage()">
				<option>--please choose by which feature to slice the dataset--</option>
				<option value="2.png">less</option>
				<option value="3.png">greater</option>
                <option value="4.png">Education</option>
			</select>
		</form>
	</div>

	<p align="center"><img src="1.png" id="show" width="200px"></p>